body {
    margin: 60px;
    background-image: url(https://media.istockphoto.com/id/538322880/vector/abstract-floral-pattern.jpg?s=612x612&w=0&k=20&c=c3_Y47ra4PtlullCzCnQFEhiUV6rOYVcXIu0uQHvr1Y=);
    background-attachment: fixed;
}

.maindiv {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px;
    color:#000000;
}

h1, h2, h3, h4 {
    font-family: 'Red Hat Text', sans-serif;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
.hometitle {
    margin-bottom: 20px;
}
h3 {
    font-size: 20px;
}
#topimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p {
    font-family: 'Red Hat Text', sans-serif;
}

h2 {
    font-size: 30px;
}

/*header and nav*/

header {
    background-color: #fff;
    border-radius: 7px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headlogo {
    font-family: 'Carter One', system-ui;
    color: #b652cd;
    text-shadow: 2px 2px #000;
    font-size: 40px;
    border-bottom: 4px solid #000;
    border-bottom-right-radius: 22px;
    
}

header nav ul li{
    display: inline-block;
}

li {
    display: inline;
}

.pagesections {
    margin: 50px;
}

/*button*/

.btn {
    font-family: 'Red Hat Text', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    background-color: #b652cd;
    border-radius: 5px;
    outline-style: auto;
    outline-width: 2px;
    outline-color: #660f81;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn:hover{
    background-color: #dc68ff;
    color: white;
}

#submitbtn {
    font-family: 'Red Hat Text', sans-serif;
    color: #000000;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    outline-style: auto;
    outline-width: 2px;
    outline-color: #9b5656;
}

.btn hover {
    background-color: #fff3ea;
}

.btn active {
    background-color: #ffb47b;
}

/*menu cards*/
.menucard {
    background-color: #dfd4c2;
    color: #000000;
    margin-top: 10px;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
}

.menusection {
    margin-top: 30px;
    text-align: center;
}

.menupic {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#image-container {
    max-width: 50%;
    max-height: 50%;
}

footer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    color: #ffffff;
}
#footergh {
    margin-top: 10px;
    text-align: center;
}

#submitbtn{
    font-family: 'Red Hat Text', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    background-color: #b652cd;
    border-radius: 5px;
    outline-style: auto;
    outline-width: 2px;
    outline-color: #660f81;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#submitbtn:hover{
        background-color: #dc68ff;
        color: white;
    }