body {
    background-image: url(https://media.istockphoto.com/id/538322880/vector/abstract-floral-pattern.jpg?s=612x612&w=0&k=20&c=c3_Y47ra4PtlullCzCnQFEhiUV6rOYVcXIu0uQHvr1Y=);
    background-attachment: fixed;
    color: #fff;
}

h1, h2, h3, h4 {
    font-family: 'Red Hat Text', sans-serif;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
.hometitle {
    margin-bottom: 20px;
}
h3 {
    font-size: 20px;
}
#topimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#toparea {
    margin-top: 80px;
    text-align: center;
}

p {
    font-family: 'Red Hat Text', sans-serif;
}

h2 {
    font-size: 30px;
}

/*header and nav*/

header {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#headlogo {
    font-family: 'Carter One', system-ui;
    color: #b652cd;
    text-shadow: 2px 2px #000;
    font-size: 40px;
}

header nav ul li{
    display: inline-block;
}

li {
    display: inline;
    list-style: none;
}

.pagesections {
    padding: 15px;
}

section {
    background-color: #fff;
    color: #000;
}

/*menu cards*/
.menu {
    font-family: sans-serif;
    font-size: 14px;
  }
  
  .menu-groupname {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }

  .menu-pic {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }

  .menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-name {
  margin-right: 1.5em;
}

.menu-item-desc {
  line-height: 1.6;
}

#image-container {
    max-width: 50%;
    max-height: 50%;
}

footer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    color: #ffffff;
}
#footergh {
    margin-top: 10px;
    text-align: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}



@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}